.App {

  width: 100wh;
  height: 100vh;
  background-color: #303a4e;
  padding: 10px 40px;
  box-sizing: border-box;
  display: flex;
  // justify-content: ;
  flex-direction: column;
  text-align: center;
  &_Table{
    margin-top: 20px;
    overflow: auto;
    width: 100%;
    height: 400px;
    &_Data
    {

      .rdt_TableHead {
        background-color: #f4f4f4;
        color: #333;
        font-weight: bold;
        font-size: 18px;
      }
      
      /* Chỉnh từng ô trong header */
      .rdt_TableCol {
        background-color: #e0e0e0;
        color: #000;
        font-size: 16px;
        
      }
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
